* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  /* definir uma font-size padrão */
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- BOTAO --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.8rem;
}

.btn_roxo {
  color: white;
  background-color: #c083b9;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
  transform: translateY(-3rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_center {
  margin: 0 auto;
}

/* --- NAV --- */
.navegacao {
  background-color: #674582;
  color: white;
  text-transform: uppercase;
  /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); */
  padding: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navegacao__itens {
  transition: all 1s;
  position: absolute;
  right: -800px;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  background-color: #674582;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  transition: right 0.5s;
}

.navegacao__itens li>a {
  transition: all 0.5s;
}

.navegacao__itens li>a:hover {
  color: #674582;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

/* HEADER */
.logo {
  width: 100vw;
  height: auto;
  margin-top: 4.2rem;
  -webkit-animation: filter-animation 5s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: blur(0);
  }

  25% {
    -webkit-filter: blur(0.1rem);
  }

  50% {
    -webkit-filter: blur(0.3rem);
  }

  75% {
    -webkit-filter: blur(0.1rem);
  }

  100% {
    -webkit-filter: blur(0);
  }
}

.main {
  margin: 2rem;
}

/* FONTE DOS TITULOS */
.titulo-bio,
.titulo-disco,
.titulo-filme,
.titulo-video {
  font-family: 'Cormorant Upright', serif;
  margin: 3rem 0 3rem 0;
  text-shadow: 0 5px 5px #674582;
  align-self: center;

}

.texto-filme,
.texto-video,
.texto-bio {
  font-size: 1.8rem;
}

/* BIOGRAFIA */
.bio {
  padding: 0 1rem;
}

.principal-bio {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: justify;
}

.titulo-bio {
  text-align: left;
  font-size: 4rem;
  margin: 1rem 0;
}

.img-bio {
  width: 80vw;
  border-radius: 6.25rem;
  box-shadow: black 0.06rem 1rem 1rem;
  margin: 1rem 0 1.2rem 0;
  justify-content: center;
}


/* DISCOGRAFIA */
.discografia {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

}

.busca-disco {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
}

.input-disco {
  width: 100%;
}

.botao-disco {
  width: 20%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #674582;
  color: whitesmoke;
  margin-left: 1rem;
  box-shadow: black 0 0.5rem 0.5rem;
  font-size: 1.3rem;
  font-weight: bolder;
  cursor: pointer;
}

.erro-disco {
  color: red;
  font-weight: bolder;
  margin-top: 1rem;
}

.limpa-busca-disco {
  border: none;
  margin-bottom: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.3rem;
}

.titulo-disco {
  text-align: left;
  font-size: 4rem;
  margin: 1rem 0;
}

.cards-disco {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 130px 130px;
  column-gap: 1rem;
  row-gap: 3rem;
  justify-content: space-evenly;
}

.disco-link:hover {
  opacity: 0.7;
  cursor: pointer;

}

.card {
  width: 130px;
  height: auto;
  border-radius: 3rem;
  box-shadow: black 0 1rem 0.8rem;
}

.card:hover {
  transform: scale(1.1);
}

.card-caption {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
}


/* FILMOGRAFIA */
.filmografia {
  padding: 0 1rem;

}

.principal-filme {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}


.titulo-filme {
  text-align: left;
  font-size: 4rem;

}

.img-flm {
  width: 80vw;
  align-self: center;
  border-radius: 6.25rem;
  box-shadow: black 0.06rem 1rem 1rem;
  margin: 1.3rem 0;
}

.texto-filme {
  text-align: justify;
  font-weight: lighter;
}

.quote-filme {
  padding: 0;
  width: 100%;
  height: 32rem;
  margin-top: 1rem;
}

.video-filme {
  width: 100%;
  height: 375px;
  margin: 2rem 0;
}

/* VIDEOGRAFIA */
.videografia {

  display: flex;
  flex-direction: column;
  padding: 0 1rem;

}

.titulo-video {
  text-align: left;
  font-size: 4rem;
  margin: 1rem 0;

}

.texto-video {

  text-align: justify;
  font-weight: lighter;

}

.video-clipe {
  width: 100%;
  height: 375px;
  margin: 2rem 0;

}

/* SOBRE MIM */
.sobre-titulo {
  text-align: center;
  color: #674582;
  font-size: 1.8em;
  margin: 4rem 2rem 2rem 2rem;
}

.sobre-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.8rem;
  margin-bottom: 1rem;
  box-shadow: black 0.06rem 1rem 1rem;
}

.sobre-main {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  flex-wrap: wrap;
}

.sobre-p {
  width: 30rem;
  font-size: 1.5rem;
  text-align: justify;
}

.sobre-container {
  display: flex;
  justify-content: center;
}

.sobre-botao {
  color: white;
  box-shadow: black 0.06rem 1rem 1rem;
  border: 2px solid #674582;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.43px;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #7E459B;
}

.sobre-botao:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* efeito */
.visible {
  visibility: visible;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }

}































































/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}

.rodape__principal>* {
  margin: 1rem 0;
}

.rodape__navegacao>li {
  font-size: 1.1rem;
  margin: 1rem;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.rodape__redes-sociais a:hover {
  color: #c083b9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: 0.5rem;
}

.rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}
